body{
    background-color: hsl(235, 21%, 11%);
    overflow-x: auto;
    position:relative;
    display:flex;
    justify-content: center;
}
.container-fluid{
    position:absolute;
    z-index: 1;
    
}
.container{
    position:absolute;
    z-index: 3;
    margin-top:100px;
    
}
.the-buttons{
    height:50px;
    background-color: hsl(235,24%,19%);
    color:hsl(234, 39%, 85%);
    
}
.the-buttons button{
    background-color:hsl(235,24%,19%);
    color:hsl(234, 39%, 85%);
    border :1px solid hsl(235,24%,19%);
    font-size:17px;
    

}
.the-buttons button:hover{
    color:#0d6efd;
}
.counter:hover{
    cursor:default;
}
.clear-completed{
    font-size:x-small;
}
.header-container{
    display:flex;
    flex-flow:row;
    
}
.head-of-list{
    background-color: hsl(235,24%,19%);
   color:hsl(234, 39%, 85%);
    display:flex;
    flex-flow:row;
    height:50px;
}
.input{
    width:100%;
    background-color:hsl(235,24%,19%);
    color:hsl(234, 39%, 85%);
    border:1px solid transparent;
}
.input:focus{
    border:1px solid transparent;
}
.check-field{
    
    width:15px;
    height:15px;
    margin-top:18px;
}
.mode{
    height:30px;
}
.footer{
    color:hsl(234, 39%, 85%);
    
}
.shine{
    color:#0d6efd;
}
.comp-content ,.act-content{
    height:50px;
    background-color:hsl(235,24%,19%) ;
    color:hsl(234, 39%, 85%);
    border-bottom:1px solid hsl(234, 39%, 85%);
    width:100%;
    display:flex;
    flex-flow:row;
    align-items:center;
    
}
.checking{
    justify-content:start;
    margin-left: -40px;
    margin-bottom:10px
}
.comp-todos{
    text-decoration:line-through;
}
.act-todos{
    text-decoration:none;
}
.clear{
    margin-right:-65px;
}
.hover{
    background-color:hsl(233, 14%, 35%);
    cursor:pointer;
}
.light-mode{
    background-color: hsl(0, 0%, 98%);
    color:black;
}
.menu-light{
    background-color: hsl(0, 0%, 98%);
    color:white;
}

@media (max-width:1490px){
    .the-buttons button{
        font-size:12px;
    }
}
