body{
    background-color: hsl(235, 21%, 11%);
    overflow-x: auto;
    position:relative;
    display:flex;
   /* align-items: center;*/
    justify-content: center;
  /*  display:grid;
    grid-template-rows: 60px 60px  20px 60px 25px repeat(6,60px) 60px 90px;
    grid-template-columns:518px 25px 100px 350px 25px 518px;*/
}
/*.container-fluid{
    position:relative;
}*/
.container-fluid{
    position:absolute;
    z-index: 1;
    
}
.container{
    position:absolute;
    z-index: 3;
    margin-top:100px;
    
}
.row > *{
    padding-left:0;
    padding-right:0;
}
.navbar{
    width:100%;
    height:50px;
    background-color: hsl(235,24%,19%);
    color:hsl(234, 39%, 85%);
    
}
.nav-link{
    background-color:hsl(235,24%,19%);
    color:hsl(234, 39%, 85%);
    border :1px solid hsl(235,24%,19%);
    font-size:18px;
    

}
@media (min-width: 1200px){
.navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 0.5rem;
}
}
/*@media (min-width:1000px)and(max-width:1245px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
       /* padding-left: 0.5rem;*/
   /* }
}*/
@media (min-width:1287){
   /* .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2.5rem;
       
        padding-left: 0.5rem;
    }*/
    .navbar-nav{
        width:fit-content;
        
       /* height:fit-content;*/
    }
    
}
@media (min-width: 950px)and (max-width:1287){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2.5rem;
       
      /*  padding-left: 0.5rem;*/
    }
    .navbar-nav{
        width:fit-content;
       /* height:fit-content;*/
    }
    .nav-link{
        font-size:12px;
        
    }
}
/*@media (-width:1000px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
      /*  padding-left: 0rem;*/
   /* }
}*/
/*@media (max-width:800px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
     /*   padding-left: 0.5rem;*/
  /*  }
}*/
@media(min-width:765px)and (max-width:975px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
     /*   padding-left: 0.5rem;*/
    }
    .navbar-nav{
        width:fit-content;
        /*height:fit-content;*/
    }
    .nav-link{
        font-size:10px;

    }
}
@media (min-width:1000px)and(max-width:1172){
    .nav-link{
        font-size:10px;
        
    }
}
.all-button{
    color:#0d6efd;
}
.nav-color{
    color:#0d6efd;
}
.navbar-toggler{
    color:hsl(234, 39%, 85%);
}
/*.header-img{
    grid-area:1/1/5/7;
}*/
.header-container{
   /* grid-area:2/2/3/6;*/
   display:grid;
   grid-template-rows:100%;
    grid-template-columns: 40% 55% 5% ;
}
.header-container p{
    grid-area:1/1/1/2;
    font-size:30px;
    margin-left:0px;
}
.header-container img{
    grid-area:1/3/1/3;
  /*  margin-left:420px;*/
 /* margin-right:0px;*/
    margin-top:10px
}
/*.container img{
    float:right;
    margin-right:-380px;
    margin-top:-60px;
}*/
.the-list{
   /* grid-area:6/2/12/6;*/
   /* background-color: hsl(235,24%,19%);*/
  /*  border-bottom:2px solid hsl(233, 14%, 35%);*/
   /* height:430px;*/
  margin-left:0;
    border-radius:5px;
  /*  overflow-y: auto;*/
  /*  overflow-x:hidden;*/
    height:fit-content;
 /*   max-height: 430px;*/
    
    
}
::-webkit-scrollbar {
    width: 6px;
    height:6px;
    
}
::-webkit-scrollbar-thumb{
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: hsl(234, 39%, 85%);
}
.the-container{
    border-bottom:2px solid hsl(233, 14%, 35%);
    height:60px;
    color:hsl(234, 39%, 85%);
    Font-size: 18px;
    font-family:"Josefin Sans";
    display:flex;
    flex-flow:row;
    width:500px;
    
}
.circle{
    width:20px;
    height:20px;
    border:2px solid lightgray;
    border-radius:50%;
    margin-top:16px;
    margin-left:10px;
}
.the-data{
    margin-left:20px;
}
.head-of-list{
   /* grid-area:4/2/5/6;*/
    background-color: hsl(235,24%,19%);
    border-radius:5px;
    color:hsl(233, 14%, 35%);
    Font-size: 18px;
    font-family:"Josefin Sans";
    display:flex;
    flex-flow:row;
    width: 100%;
 /*  height:30px;*/
   overflow-x: hidden;
   /* grid-template-rows:25px 10px 25px;
    grid-template-columns:50px 450px;*/
}
.head-of-list .input[type="text"]{
    background-color:hsl(235,24%,19%);
    border:2px solid hsl(235,24%,19%);
    border-radius:5px;
    font-size:18px;
    width:80%;
    color:hsl(234, 39%, 85%);
   /* margin-bottom:40px;*/
    margin-left:30px;
    margin-bottom:0;
}
.head-of-list .comp-input[type="text"]{
    background-color:hsl(235,24%,19%);
    border:2px solid hsl(235,24%,19%);
    border-radius:5px;
    font-size:18px;
    width:100%;
    color:hsl(234, 39%, 85%);
    
}
.head-of-list .act-input[type="text"]{
    background-color:hsl(235,24%,19%);
    border:2px solid hsl(235,24%,19%);
    border-radius:5px;
    font-size:18px;
    width:100%;
    color:hsl(234, 39%, 85%);
    
}
.head-of-list input[type="radio"]{
    margin-top:7px;
    margin-left:35px;
   width:20px;
    height:20px;
   /* border:2px solid lightgray;*/
    border-radius:50%;
} 
.the-button-container{
   /* display:flex;
    flex-flow:row;*/
   /* grid-area:11/2/12/6;*/
  /* position:absolute;*/
   /*width:500px;
   margin-left:518px;
   margin-right:518px;*/
    margin-top:5px;
   /* margin-right:-500px;*/
    height:50px;
    background-color:hsl(235,24%,19%);
    color:hsl(233, 14%, 35%);
    padding-top:25px;
    
}
.buttons{
    display:inline;
    margin-left:5px;
    padding-left:20px;
    color:hsl(233, 14%, 35%);
    font-size:16px;
    background-color:transparent;
    border:none;
}
.footer{
   /* position:absolute;
    margin-top:750px;*/
    margin-top:20px;
  /*  margin-left: 650px;*/
  width:200px;
  margin-left:auto;
  margin-right:auto;
 /* grid-area:13/3/14/5;*/
/* grid-column: 3/5;*/
    color:#0d6efd;

}
.button-style{
    cursor: pointer;
    color:hsl(234, 39%, 85%);
}
.mode{
   /* margin-left:353px;*/
    width:35px;
   /* margin-top:30px;*/
}
.content-color{
    background-color:hsl(0, 0%, 98%);
    color:black;
}
.added-one{
            background-color:hsl(235,24%,19%);
            grid-area:4/2/5/6;
            color:lightgrey;
            width:100%;
            height:60px;
            font-size:18px;
           /* border:2px solid hsl(235,24%,19%);*/
            border-bottom:1px solid lightgrey;
}
.added-one:hover{
    background-color:hsl(233, 14%, 35%);
    cursor:pointer;
   /* border:2px solid hsl(233, 14%, 35%);*/


}
.added-content{
    background-color:hsl(235,24%,19%);
    grid-area:4/2/5/6;
    color:lightgrey;
    width:100%;
    height:60px;
    font-size:18px;
   /* border:2px solid hsl(235,24%,19%);*/
    border-bottom:1px solid lightgrey;
}
.added-content:hover{
background-color:hsl(233, 14%, 35%);
cursor:pointer;
/* border:2px solid hsl(233, 14%, 35%);*/


}
.the-added{
            background-color:hsl(0, 0%, 98%);
            color:black;
            font-size:18px;
            grid-area:4/2/5/6;
            width:100%;
            height:60px;
          /* border:1px solid hsl(0, 0%, 98%);*/
            border-bottom:1px solid lightgrey;
}
.the-added:hover{
    background-color:hsl(0, 0%, 98%);
    color:black;
  /*  border:1px solid hsl(0, 0%, 98%);*/
            border-bottom:1px solid lightgrey;
}
.the-added-dark{
    background-color:hsl(235,24%,19%);
            grid-area:4/2/5/6;
            color:lightgrey;
            width:100%;
            height:60px;
            font-size:18px;
          /*  border:2px solid hsl(235,24%,19%);*/
            border-bottom:1px solid lightgrey;
}
.the-added-dark:hover{
    background-color:hsl(233, 14%, 35%);
    cursor:pointer;
}
@media (max-width:1300px){
    .container{
        position:absolute;
        z-index:3;
        margin-top:20px;
    }
    
   /* .mode{
margin-right:10px;
    }*/
    
}
@media (max-width:600px){
    .container{
        position:absolute;
        z-index:3;
        margin-top:10px;
    }
    .header-container p {
        font-size:25px;
    }
   /* .header-container img{
        margin-left:100px;
    }
    .header-container{
        max-width:fit-content;
    }*/
}
/*@media  (width:1199px){
    body{
      grid-template-columns:384.5px 20px 70px 320px 20px 384.5px;
    }
   /* .container{
        grid-area:2/2/3/6;
        display:flex;
        flex-flow:row;
    }*/
  /*  .container p{
        font-size:24px;
    }
}
@media (width:992){
    body{
        grid-template-columns: 300px 20px 70px 290px 20px 300px;
    }
    .container p{
        font-size:20px;
    }
}
@media (width:386){
    body{
        grid-template-columns: 130px 6px 25px 87.7px 6px 130px;
    }
    .the-list{
        margin-left:auto;
        margin-right:auto;
    }
}
@media (width:250){
    body{
        grid-template-columns: 85px 4px 16px 57px 4px 85px;
    }
    .the-list{
        margin-left:auto;
        margin-right:auto;
    }
}
/*@media (width:835){
    .footer{
        font-size:14px;
    }
}
@media (width:400){
    .footer{
        font-size:5px;
    }
}*/
.title{
            margin-left:50px;
            margin-top:-25px;
            grid-area:6/3/7/6;
            font-size: 18px;
         /*   font-family:"Josefin Sans";*/
}
.clear{
        float:right;
        margin-top:-40px;
        margin-right:15px;
       /* display:none;*/
}
.show{
    display:visible;
    cursor: pointer;
}
.hovered{
    background-color:hsl(233, 14%, 35%);
    border:1px solid hsl(233, 14%, 35%);
}

@media (max-width:768px){
    .counter{
        display:visible;
    }
    .the-menu{
        display:visible;
    }
}
@media (min-width:768px){
    .counter{
        display:none;
    }
    .the-menu{
        display:none;
    }
}